$mat-dark-primary: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Include non-theme styles for core.
@import '~@angular/material/theming';
@include mat-core();
// Define a theme.
$bwreport-app-primary: mat-palette($mat-indigo);
$bwreport-app-accent: mat-palette($mat-pink, A200, A100, A400);
$bwreport-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$bwreport-app-theme: mat-light-theme($bwreport-app-primary, $bwreport-app-accent, $bwreport-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bwreport-app-theme);


$bwreport-app-dark-primary: mat-palette($mat-dark-primary);
$bwreport-app-dark-theme: mat-dark-theme($bwreport-app-dark-primary, $bwreport-app-accent, $bwreport-app-warn);
.material-dark-theme {
  @include angular-material-theme($bwreport-app-dark-theme);
}