$mob-width: 800px;

$error-color: #E61610;
$warning-color: #FF8351;

$gray-900: #666;
$gray-600: #999;
$gray-500: #a5a5a5;
$gray-300: #CCC;
$gray-200: #E0E0E0;
$gray-100: #F5F5F5;

$color-black: #000000;
$color-blue: #2196F3;
$color-violet: #7454EE;
$color-green: #629C44;
$color-pink: #F44488;
$color-yellow: #FFAF2C;
$color-orange: #FF8351;
$color-white: #FFFFFF;

$body-bg: #eaeaea;
$text-color: #333;
$link-color: #007aff;
$theme-color: #007AFF;