<mat-grid-list cols="2" rowHeight="50px" class="totalPoints">
  <mat-grid-tile
      [style.color]="'white'"
      [style.background]="'black'">
      Rank {{tableInfo.year}}
  </mat-grid-tile>
  <mat-grid-tile
      [style.color]="'white'"
      [style.background]="'black'">
      Points {{tableInfo.year}}
  </mat-grid-tile>
  <mat-grid-tile
      [style.background]="'white'">
      {{tableInfo.rank}}
  </mat-grid-tile>
  <mat-grid-tile
      [style.background]="'white'">
      {{tableInfo.points}}
  </mat-grid-tile>
</mat-grid-list>