<div class="spinner-container fixed" *ngIf="loading">
  <div class="spinner-box">
    <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [diameter]="100">
    </mat-progress-spinner>
  </div>
</div>

<mat-table #table [dataSource]="dataSource" aria-label="Elements">

  <ng-container matColumnDef="rank">
    <mat-header-cell *matHeaderCellDef>Rank {{filters?.year}}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.ranks[0].rank }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
        <a *ngIf="row.is_contact" class="editButton" [routerLink]="['/create-edit-contact', row.item.id]">
          <mat-icon>edit</mat-icon>
        </a>
        <a [routerLink]="['/ranking-list/awards-won']"
          [queryParams]="{itemId: row.item.id}">
          {{row.name}}
        </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell *matHeaderCellDef>Points {{filters?.year}}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.ranks[0].points }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
