@import 'variables';

form {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.field-container {
  align-items: flex-start;
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;

  h3 {
    flex: 0 0 100%;
  }

  .dynamic-fa-container {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    padding-right: 40px;
    position: relative;

    .dynamic-fa {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      width: 100%;

      app-contact-search,
      app-title-search {
        flex: 0 1 48%;
      }

      button {
        position: absolute;
        right: -30px;
        top: 10px;
      }
    }

    .add-btn-in-dynamic-fa {
      bottom: 15px;
      position: absolute;
      right: -20px;
    }
  }
}

@media (max-width: $mob-width) {
  .field-container {
    .dynamic-fa-container {
      .dynamic-fa {
        app-contact-search,
        app-title-search {
          flex-basis: 100% ;
        }
      }

      .add-btn-in-dynamic-fa {
        bottom: 80px;
      }
    }
  }
}
