@import 'index', '~ngx-toastr/toastr.css';

* { box-sizing: border-box; }

html, body {
  height: 100%;
}
body {
  background: $body-bg;
  color: $text-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 16px;
}

button {
  outline: unset !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 16px;
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgba(206, 206, 206, .6);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(130, 130, 130, 1);
  border-radius: 8px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;

  & > * {
    font-size: inherit !important;
    margin: 0 5px 5px 0 !important;

    &:last-child {
      margin-right: 0 !important;
    }

    @media (max-width: 600px) {
      margin-right: 0 !important;
      flex-basis: 100%;
    }
  }
}