<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
        <remove fileExtension=".woff"/>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
        <remove fileExtension=".woff2"/>
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
        <remove fileExtension=".ttf"/>
        <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
        <remove fileExtension=".svg"/>
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
        <remove fileExtension=".otf"/>
        <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
        <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>

    <webSocket enabled="false" />

    <handlers>
    </handlers>

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
